<div class="summary-container">
  <div class="title">Summary</div>
  <div class="sub-title">of your Monthly Surprise Box</div>
  <div class="price-box">
    <div>
      <div class="mb-text mb-bold">Mystery Box</div>
      <div class="mb-text__xs-gray">X 1</div>
    </div>
    <div>
      <div class="mb-text">SAR <span class="mb-bold">456</span></div>
      <div class="mb-text__xs-gray">Monthly</div>
    </div>
  </div>
  <div class="item">
    <div class="mb-text__sm">SubTotal</div>
    <div class="mb-text__sm">SAR <span class="mb-bold">456</span></div>
  </div>
  <div class="item">
    <div class="mb-text__sm">Shipping</div>
    <div class="item-free">Free</div>
  </div>
  <div class="item">
    <div class="mb-text__sm">Taxes</div>
    <div class="mb-text__sm">SAR <span class="mb-bold">4.0</span></div>
  </div>

  <div class="total">
    <div class="total__label">Total</div>
    <div class="total__price">SAR <span> 456</span></div>
  </div>
  <button class="mb-btn" (click)="onClickSumit()">Continue to payment</button>
</div>
