@use '../styles/responsive' as responsive;
.top-nav {
  background-color: #ab95f9;
  padding: 16px;
  color:#fff;
  font-weight: 700;
  display: flex;
  align-items: center;
  @include responsive.lg-screen{
    padding-left: 110px;
  }
}
