/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@use "./styles/responsive" as responsive;

@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";
body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
span,
div,
a {
  font-family: "Nunito", sans-serif;
}

ion-header {
  --ion-background-color: #ab95f9;
}

ion-title {
  color: white;
}

.mb-title__x-lg {
  font-size: 40px;
  font-weight: 900;
  @include responsive.lg-screen() {
    font-size: 56px;
    font-weight: 900;
  }
}

.mb-title__lg {
  font-weight: 700;
  font-size: 40px;
  @include responsive.lg-screen {
    font-weight: 700;
    font-size: 48px;
  }
}
.mb-title__md {
  font-size: 24px;
  font-weight: 700;
  @include responsive.lg-screen {
    font-size: 32px;
    font-weight: 700;
  }
}

.mb-text__lg {
  font-size: 20px;
  @include responsive.lg-screen {
    font-size: 24px;
  }
}
.mb-text {
  font-size: 16px;
}

.mb-text__sm {
  font-size: 14px;
}

.mb-text__xs {
  font-size: 12px;
}
.mb-text__xs-gray {
  font-size: 12px;
  color: #838383;
}
.mb-bold {
  font-weight: 700;
}
.mb-semi-bold {
  font-weight: 600;
}

a {
  color: black;
}

// button
.mb-btn {
  padding: 12px 24px;
  font-size: 20px;
  font-weight: 900;
  color: #896af9;
  border-radius: 12px;
  background-color: white;
  border: 1px solid #896af9;
  box-shadow: 4px 4px 0px -1px #896af9;
  @include responsive.lg-screen {
    padding: 15px 26px;
    border-radius: 21px;
    font-size: 23px;
  }
}

.mb-input {
  border-radius: 8px;
  border: 1px solid #d0d5dd;
  background: #fff;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  padding: 10px 14px;
}
.mb-select {
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  border: none;
  padding: 10px 14px;
  border-right: 16px solid transparent;
  outline: 1px solid #d0d5dd;
}
.mb-lable {
  font-weight: 500;
  font-size: 14px;
  color: #344054;
  font-family: Nunito;
}
