<form [formGroup]="form" class="form" (ngSubmit)="onClickSubmit()">
  <div class="form-header">
    <div class="form-header__title">Subscribe</div>
    <div class="form-header__sub-title">to our Monthly Surprise Box</div>
  </div>
  <div class="form-content">
    <div class="form-section">
      <div class="form-section__title">Contact Information</div>
      <div class="form-item">
        <label for="name" class="label">Your Name</label>
        <input
          formControlName="name"
          type="text"
          class="mb-input"
          id="name"
          placeholder="e.g Osama Alshathri"
        />
        <div class="form-error-container">
          <div *ngIf="form.get('name')?.hasError('required') && form.get('name')?.touched">
            Name is required.
          </div>
        </div>
      </div>
      <div class="form-item">
        <label for="email" class="form-item__label">Email</label>
        <input
        formControlName="email"
          type="email"
          class="form-item__input mb-input"
          id="email"
          placeholder="Osama@gmail.com"
        />
        <div class="form-error-container">
          <div *ngIf="form.get('email')?.hasError('required') && form.get('email')?.touched" class="error-message">
            Email is required.
          </div>
          <div *ngIf="form.get('email')?.hasError('email') && form.get('email')?.touched" class="error-message">
            Please enter a valid email address.
          </div>
        </div>
      </div>
    </div>
    <div class="form-section">
      <div class="form-section__title">Child’s Information</div>
      <div class="form-item">
        <label for="child-name" class="label">Child’s Full Name</label>
        <input
          formControlName="childName"
          type="text"
          class="mb-input"
          id="child-name"
          placeholder="e.g Sarah Mohammad"
        />
        <div class="form-error-container">
          <div *ngIf="form.get('childName')?.hasError('required') && form.get('childName')?.touched" >
            Child name is required.
          </div>
        </div>
      </div>
      <div formGroupName="dob" class="form-item">
        <label for="date" class="form-item__label">Child’s Date of Birth</label>
        <div class="dob-input-container">
          <select formControlName="date" class="mb-select" placeholder="Date" id="date">
            <option value="1">1</option>
            <option value="2">2</option>
          </select>
          <select formControlName="month" class="mb-select" placeholder="Month">
            <option value="1">January</option>
            <option value="2">February</option>
            <option value="3">March</option>
            <option value="4">April</option>
            <option value="5">May</option>
            <option value="6">June</option>
            <option value="7">July</option>
            <option value="8">August</option>
            <option value="9">September</option>
            <option value="10">October</option>
            <option value="11">November</option>
            <option value="12">December</option>
          </select>
          <select formControlName="year" class="mb-select" placeholder="Year">
            <option value="2023">2023</option>
            <option value="2022">2022</option>
            <option value="2021">2021</option>
            <option value="2020">2020</option>
            <option value="2019">2019</option>
          </select>
        </div>
      </div>
      <div class="form-item">
        <label for="email" class="form-item__label">Grade</label>
        <select formControlName="grade" class="mb-select" placeholder="e.g Grade 2">
          <option value="1">Grade 1</option>
          <option value="2">Grade 2</option>
        </select>
      </div>
    </div>
    <div class="form-section">
      <div class="form-section__title">As a parent select any 3 topics</div>
      <div class="topic-container">
        <app-chip
          *ngFor="let topic of topics$ | async"
          [topic]="topic"
          (selectedChange)="onSelectChange($event)"
        ></app-chip>
      </div>
    </div>
  </div>
  <button  type="submit" class ="mb-btn">Continue to payment</button>
</form>
