<div class="form">
  <div class="form-header">
    <div class="form-header__title">Subscribe</div>
    <div class="form-header__sub-title">to our Monthly Surprise Box</div>
  </div>
  <div class="form-content">
    <div class="form-section">
      <div class="form-section__title">Contact Information</div>
      <div class="form-item">
        <label for="name" class="label">Your Name</label>
        <input
          type="text"
          class="mb-input"
          id="name"
          placeholder="e.g Osama Alshathri"
        />
      </div>
      <div class="form-item">
        <label for="email" class="form-item__label">Email</label>
        <input
          type="email"
          class="form-item__input mb-input"
          id="email"
          placeholder="Osama@gmail.com"
        />
      </div>
    </div>
    <div class="form-section">
      <div class="form-section__title">Child’s Information</div>
      <div class="form-item">
        <label for="child-name" class="label">Child’s Full Name</label>
        <input
          type="text"
          class="mb-input"
          id="child-name"
          placeholder="e.g Sarah Mohammad"
        />
      </div>
      <div class="form-item">
        <label for="date" class="form-item__label">Child’s Date of Birth</label>
        <div class="dob-input-container">
          <select class="mb-select" placeholder="Date" id="date">
            <option value="1">1</option>
            <option value="2">2</option>
          </select>
          <select class="mb-select" placeholder="Month">
            <option value="1">January</option>
            <option value="2">February</option>
            <option value="3">March</option>
            <option value="4">April</option>
            <option value="5">May</option>
            <option value="6">June</option>
            <option value="7">July</option>
            <option value="8">August</option>
            <option value="9">September</option>
            <option value="10">October</option>
            <option value="11">November</option>
            <option value="12">December</option>
          </select>
          <select class="mb-select" placeholder="Year">
            <option value="2023">2023</option>
            <option value="2022">2022</option>
            <option value="2021">2021</option>
            <option value="2020">2020</option>
            <option value="2019">2019</option>
          </select>
        </div>
      </div>
      <div class="form-item">
        <label for="email" class="form-item__label">Grade</label>
        <select class="mb-select" placeholder="e.g Grade 2">
          <option>Grade 1</option>
          <option>Grade 2</option>
        </select>
      </div>
    </div>
    <div class="form-section">
      <div class="form-section__title">As a parent select any 3 topics</div>
      <div class="topic-container">
        <app-chip label="Arabic"></app-chip>
        <app-chip label="Islamic"></app-chip>
        <app-chip label="English"></app-chip>
        <app-chip label="History"></app-chip>
        <app-chip label="Sports"></app-chip>
      </div>
    </div>
  </div>
  <button class="mb-btn">Continue to payment</button>
</div>
