<ion-header>
  <ion-toolbar>
    <ion-title size="large">Logo</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="hero">
    <div class="hero-content">
      <div class="hero-text-container">
        <div class="mb-title__x-large">Discover the magic of our surprise box</div>
        <div class="hero-subtitle mb-text__large mb-bold">
          Unleash your child's curiosity with our educational subscription box
          filled with fun and learning.
        </div>
        <ion-button class="subscription-btn">Primary</ion-button>
      </div>
      <img src="../../assets/images/hero.png" />
    </div>
  </div>
  <div class="content">
    <div class="content-header">
      <div>Discover</div>
      <div class="mb-title__large">
        How It Works: Subscribe and Receive Your Surprise Box
      </div>
      <div class="mb-text__large">
        Subscribe to our surprise subscription box and give your child the gift
        of learning. Each month, we curate a box filled with educational
        materials tailored to your child's age and interests.
      </div>
    </div>
    <div class="step-container">
      <div class="step">
        <img src="../../assets/images/step-1.png" />
        <div class="step-title mb-title__medium">
          Step 1:<br />
          Subscribe
        </div>
        <div class="step-sub-title mb-text">
          Select a subscription plan that suits your child's learning needs and
          preferences.
        </div>
      </div>
      <div class="step">
        <img src="../../assets/images/step-2.png" />
        <div class="step-title mb-title__medium">
          Step 2:<br />
          Personalise Your Box
        </div>
        <div class="step-sub-title mb-text">
          Tell us about your child's age, interests, and learning goals, and
          we'll customize their surprise box accordingly.
        </div>
      </div>
      <div class="step">
        <img src="../../assets/images/step-3.png" />
        <div class="step-title mb-title__medium">
          Step 3:<br />
          Receive Your Surprise Box
        </div>
        <div class="step-sub-title mb-text">
          Sit back and relax as your child eagerly awaits the arrival of their
          monthly surprise box filled with engaging learning materials.
        </div>
      </div>
    </div>
    <ion-button >Subscribe Now</ion-button>
  </div>
</ion-content>
