@use "../../styles/responsive" as responsive; // Adjust the path to match your project structure and alias as needed

.hero-text-container {
  display: flex;
  flex-direction: column;
  color: #fff;
  text-align: center;
  align-items: center;
  gap: 24px;
  @include responsive.lg-screen() {
    max-width: 70%;
  }
}

.hero {
  background-color: #896af9;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 32px 16px;
  flex-direction: column;
}

.subscription-btn {
  max-width: 100px;
}
.hero-content {
  max-width: 80%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    margin-top: 80px;
  }
}

.content {
  background-size: cover; /* Optional: Adjust background size as needed */
  background-color: #fff9e6;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column;
  padding:  56px 12px;
  @include responsive.lg-screen {
    background-image: url("/assets/images/hiw-bg.png");
    padding: 112px 64px;
  }
  gap: 24px;
  &-header {
    @include responsive.lg-screen{
      max-width: 66%;
    }
  }
}

.step {
  &-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 80px;
    gap: 48px;
    margin-bottom: 20px;
    @include responsive.lg-screen {
      flex-direction: row;
      gap: 28px;
    }
  }
  img {
    width: 96px;
    height: 96px;
  }
  &-title {
    margin-top: 24px;
    margin-bottom: 24px;
  }
  &-sub-title {
    font-size: 16px;
  }
}
