<ion-header>
  <ion-toolbar>
    <ion-title size="large">Logo</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="hero">
    <div class="hero-content">
      <div class="hero-text-container">
        <div class="mb-title__x-lg">Discover the magic of our surprise box</div>
        <div class="hero-subtitle mb-text__lg mb-bold">
          Unleash your child's curiosity with our educational subscription box
          filled with fun and learning.
        </div>
        <button class="mb-btn">Subscribe Now</button>
      </div>
      <img src="../../assets/images/hero.png" />
    </div>
  </div>
  <div class="content">
    <div class="content-header">
      <div>Discover</div>
      <div class="mb-title__lg">
        How It Works: Subscribe and Receive Your Surprise Box
      </div>
      <div class="mb-text__lg">
        Subscribe to our surprise subscription box and give your child the gift
        of learning. Each month, we curate a box filled with educational
        materials tailored to your child's age and interests.
      </div>
    </div>
    <div class="step-container">
      <div class="step">
        <img src="../../assets/images/step-1.png" />
        <div class="step-title mb-title__md">
          Step 1:<br />
          Subscribe
        </div>
        <div class="step-sub-title mb-text">
          Select a subscription plan that suits your child's learning needs and
          preferences.
        </div>
      </div>
      <div class="step">
        <img src="../../assets/images/step-2.png" />
        <div class="step-title mb-title__md">
          Step 2:<br />
          Personalise Your Box
        </div>
        <div class="step-sub-title mb-text">
          Tell us about your child's age, interests, and learning goals, and
          we'll customize their surprise box accordingly.
        </div>
      </div>
      <div class="step">
        <img src="../../assets/images/step-3.png" />
        <div class="step-title mb-title__md">
          Step 3:<br />
          Receive Your Surprise Box
        </div>
        <div class="step-sub-title mb-text">
          Sit back and relax as your child eagerly awaits the arrival of their
          monthly surprise box filled with engaging learning materials.
        </div>
      </div>
    </div>
    <button class="mb-btn">Subscribe Now</button>
  </div>
  <div class="footer">
    <div class="footer-logo">
      <div class="mb-title__lg">Logo</div>
      <div class="footer-links mb-text mb-semi-bold">
        <div class="">link one</div>
        <div>link two</div>
        <div>link three</div>
        <div>link four</div>
        <div>link five</div>
      </div>
    </div>
    <div class="footer-sub-form">
      <label class="mb-text mb-semi-bold">Subscribe</label>
      <input
        type="text"
        placeholder="Enter your email"
        class="footer-sub-input"
      />
      <button type="button" class="footer-sub-button">Subscribe</button>
      <div class="footer-sub-note mb-text__xs">
        By subscribing you agree to with our<a href="#"> Privacy Policy</a>
      </div>
    </div>
    <div class="footer-content">
      <div class="footer-links mb-text__sm">
        <a href="#">Privacy Policy</a>
        <a href="#">Terms of Service</a>
        <a href="#">Cookies Settings</a>
      </div>
      <div class="footer-copy-rights">© 2023 Relume. All rights reserved.</div>
    </div>
  </div>
</ion-content>
